<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name="URL" value="FireFox"/>
  <test thread-count="5" name="Test">
  
    <classes>
      <class name="testpack.TestOne"/>
      <class name="testpack.Test2"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
